/* CardStars.module.css */
.stars {
  width: 88px;
  height: 18px;
  background: url('./../app/media/img/svg/stars_vide.svg') no-repeat left top;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.mark {
  height: 18px;
  background: url('./../app/media/img/svg/stars_pleines.svg.svg') no-repeat left
    top;
  background-size: 87px 18px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.ratingText {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
  line-height: normal;
}
